In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Load the Preprocessed data

In [18]:
preprocessed_data = pd.read_csv('Absenteeism_preprocessed.csv',usecols = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16])
preprocessed_data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Month Value,Day of the week
0,0,0,0,1,2015-07-07,289,36,33,239.554,30,0,2,1,4,7,1
1,0,0,0,0,2015-07-14,118,13,50,239.554,31,0,1,0,0,7,1
2,0,0,0,1,2015-07-15,179,51,38,239.554,31,0,0,0,2,7,2
3,1,0,0,0,2015-07-16,279,5,39,239.554,24,0,2,0,4,7,3
4,0,0,0,1,2015-07-23,289,36,33,239.554,30,0,2,1,2,7,3

In [19]:
preprocessed_data.columns.values

array(['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Date',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours', 'Month Value',
       'Day of the week'], dtype=object)

In [20]:
columns = ['Reason_1', 'Reason_2', 'Reason_3', 'Reason_4', 'Month Value','Day of the week',
       'Transportation Expense', 'Distance to Work', 'Age',
       'Daily Work Load Average', 'Body Mass Index', 'Education',
       'Children', 'Pets', 'Absenteeism Time in Hours'
       ]

In [21]:
preprocessed_data =  preprocessed_data.drop(['Date'],axis = 1)

In [22]:
preprocessed_data = preprocessed_data[columns]

In [23]:
 preprocessed_data.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2

In [24]:
data_preprocessed = preprocessed_data.copy()

In [27]:
data_preprocessed['Absenteeism Time in Hours'].median()

3.0

In [32]:
targets = np.where(data_preprocessed['Absenteeism Time in Hours']>data_preprocessed['Absenteeism Time in Hours'].median(),1,0)

In [33]:
len(targets)

700

In [34]:
data_preprocessed['Excessive Absenteeism'] = targets

In [35]:
data_preprocessed.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Day of the week,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Excessive Absenteeism
0,0,0,0,1,7,1,289,36,33,239.554,30,0,2,1,4,1
1,0,0,0,0,7,1,118,13,50,239.554,31,0,1,0,0,0
2,0,0,0,1,7,2,179,51,38,239.554,31,0,0,0,2,0
3,1,0,0,0,7,3,279,5,39,239.554,24,0,2,0,4,1
4,0,0,0,1,7,3,289,36,33,239.554,30,0,2,1,2,0

In [38]:
data_preprocessed['Excessive Absenteeism'].value_counts()[0]

381

In [40]:
(700-381)/700

0.45571428571428574

In [82]:
data_with_targets = data_preprocessed.drop(['Absenteeism Time in Hours','Day of the week','Daily Work Load Average','Distance to Work'],axis = 1)

In [83]:
data_with_targets.head()

,Reason_1,Reason_2,Reason_3,Reason_4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Excessive Absenteeism
0,0,0,0,1,7,289,33,30,0,2,1,1
1,0,0,0,0,7,118,50,31,0,1,0,0
2,0,0,0,1,7,179,38,31,0,0,0,0
3,1,0,0,0,7,279,39,24,0,2,0,1
4,0,0,0,1,7,289,33,30,0,2,1,0

In [84]:
data_with_targets is data_preprocessed

False

### Select the inputs for Regression

In [85]:
unscaled_inputs = data_with_targets.iloc[:,:-1]

In [86]:
unscaled_inputs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
Reason_1                  700 non-null int64
Reason_2                  700 non-null int64
Reason_3                  700 non-null int64
Reason_4                  700 non-null int64
Month Value               700 non-null int64
Transportation Expense    700 non-null int64
Age                       700 non-null int64
Body Mass Index           700 non-null int64
Education                 700 non-null int64
Children                  700 non-null int64
Pets                      700 non-null int64
dtypes: int64(11)
memory usage: 60.2 KB

### Standerdize the data

In [87]:
from sklearn.preprocessing import StandardScaler

absenteeism_scaler = StandardScaler()

In [88]:
absenteeism_scaler.fit(unscaled_inputs)

C:\Users\rohan\Anaconda3\envs\rohanenv\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [89]:
scaled_inputs = absenteeism_scaler.transform(unscaled_inputs)
scaled_inputs.shape

C:\Users\rohan\Anaconda3\envs\rohanenv\lib\site-packages\ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  """Entry point for launching an IPython kernel.

(700, 11)

## Split the Data into train and test

In [90]:
from sklearn.model_selection import train_test_split

In [91]:
x_train,x_test,y_train,y_test = train_test_split(scaled_inputs,targets,train_size = 0.8,shuffle = True,random_state = 20)

C:\Users\rohan\Anaconda3\envs\rohanenv\lib\site-packages\sklearn\model_selection\_split.py:2179: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [92]:
x_train.shape

(560, 11)

In [93]:
y_train.shape

(560,)

In [94]:
print(x_test.shape)
y_test.shape

(140, 11)

(140,)

## Logistic Regression

In [95]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

### Training the model

In [96]:
reg = LogisticRegression()

reg.fit(x_train,y_train)

C:\Users\rohan\Anaconda3\envs\rohanenv\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [97]:
reg.score(x_train,y_train)

0.7839285714285714

### Manually check Accuracy

In [98]:
model_output = reg.predict(x_train)

In [99]:
np.sum((model_output == y_train)) / 560

0.7839285714285714

### Finding the intercept and coefficient

In [100]:
reg.intercept_ ,reg.coef_

(array([-0.2212129]),
 array([[ 2.06793364,  0.33543415,  1.56129033,  1.31093143,  0.18459808,
          0.6913181 , -0.19828388,  0.32436088, -0.12672347,  0.37009974,
         -0.32547087]]))

In [101]:
feature_name = unscaled_inputs.columns.values

In [102]:
summary_table = pd.DataFrame(columns = ['Feature Name'],data = feature_name)

In [103]:
summary_table['Coefficients'] = np.transpose(reg.coef_)

summary_table

              Feature Name  Coefficients
0                 Reason_1      2.067934
1                 Reason_2      0.335434
2                 Reason_3      1.561290
3                 Reason_4      1.310931
4              Month Value      0.184598
5   Transportation Expense      0.691318
6                      Age     -0.198284
7          Body Mass Index      0.324361
8                Education     -0.126723
9                 Children      0.370100
10                    Pets     -0.325471

In [104]:
summary_table.index = summary_table.index + 1
summary_table.loc[0] = ['Intercept', reg.intercept_[0]]
summary_table = summary_table.sort_index()
summary_table

              Feature Name  Coefficients
0                Intercept     -0.221213
1                 Reason_1      2.067934
2                 Reason_2      0.335434
3                 Reason_3      1.561290
4                 Reason_4      1.310931
5              Month Value      0.184598
6   Transportation Expense      0.691318
7                      Age     -0.198284
8          Body Mass Index      0.324361
9                Education     -0.126723
10                Children      0.370100
11                    Pets     -0.325471

In [105]:
summary_table['Odds_Ratio'] = np.exp(summary_table.Coefficients)
summary_table

              Feature Name  Coefficients  Odds_Ratio
0                Intercept     -0.221213    0.801546
1                 Reason_1      2.067934    7.908464
2                 Reason_2      0.335434    1.398547
3                 Reason_3      1.561290    4.764966
4                 Reason_4      1.310931    3.709627
5              Month Value      0.184598    1.202735
6   Transportation Expense      0.691318    1.996345
7                      Age     -0.198284    0.820137
8          Body Mass Index      0.324361    1.383146
9                Education     -0.126723    0.880977
10                Children      0.370100    1.447879
11                    Pets     -0.325471    0.722187

#### A Featue is not Particularly important :
##### -if its coefficient is around 0
##### -if the odds ratio is around 1

In [106]:
summary_table.sort_values('Odds_Ratio',ascending =  False)

              Feature Name  Coefficients  Odds_Ratio
1                 Reason_1      2.067934    7.908464
3                 Reason_3      1.561290    4.764966
4                 Reason_4      1.310931    3.709627
6   Transportation Expense      0.691318    1.996345
10                Children      0.370100    1.447879
2                 Reason_2      0.335434    1.398547
8          Body Mass Index      0.324361    1.383146
5              Month Value      0.184598    1.202735
9                Education     -0.126723    0.880977
7                      Age     -0.198284    0.820137
0                Intercept     -0.221213    0.801546
11                    Pets     -0.325471    0.722187

### We should not have standerdize the Dummies because it is bad Practice

## Testing the model

In [107]:
reg.score(x_test,y_test)

0.7357142857142858

In [111]:
predicted_probability = reg.predict_proba(x_test)

In [112]:
predicted_probability.shape

(140, 2)

## Save the Model

In [113]:
import pickle

In [114]:
with open('model','wb') as file:
    pickle.dump(reg,file)
    
#File name = 'model'
# wb = write bytes
# dump = save
# reg = object to dump

In [115]:
with open('scaler','wb') as file:
    pickle.dump(absenteeism_scaler, file)